<header class="">
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="handleOpenFile()">
        <i class="material-icons">file_download</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="handleSaveFile()">
        <i class="material-icons">file_upload</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <span (click)="handleBlur()">Blur</span>
    </button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <span (click)="handleGrayscale()">Grayscale</span>
    </button>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <span (click)="handleInvert()">Invert</span>
    </button>
</header>